[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"

[packages]
tkinter = "*"
selenium = "*"
random = "*"
pyautogui = "*"

[requires]
python_version = "3.8"
